.home {
}

.home .hero-space {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
}

.banner__focused .landscape,
.banner__unfocused .landscape {
  position: fixed;
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

.banner__focused,
.banner__unfocused {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.banner__focused .text {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  filter: opacity(100%);
  transition: filter 0.5s;
}
.banner__unfocused .text {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  filter: opacity(0%);
  transition: filter 0.5s;
}

.banner__focused h1,
.banner__unfocused h1 {
  color: #fff;
  margin: 0;
  font-size: 52px;
  animation: fadeText 0.5s forwards;
}

.banner__focused h2,
.banner__unfocused h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 0;
  color: #fff;
  white-space: nowrap;
  font-size: 18px;
  animation: moveText 0.5s forwards;
}

.home .container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--snow);
  position: relative;
  display: flex;
  flex-direction: column;
}

.home .container section {
  width: 100%;
  max-width: var(--section-max-width);
}

@keyframes fadeText {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
    border-radius: 4px;
    outline: 1px rgba(255, 255, 255, 0.2) solid;
    outline-offset: -1px;
    padding: 0 10px;
    text-shadow: 0px 2px #000;
    background-color: var(--blurple);
    background-size: 0.4em 0.4em;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.2) 1px,
        transparent 1px
      ),
      linear-gradient(90deg, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
  }
}

@keyframes moveText {
  0% {
    padding-top: 0px;
  }

  100% {
    padding: 0 20px;
    padding-top: 4px;
    font-size: 19px;
    text-shadow: 0px 2px #000;
  }
}
