.imgui-canvas {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  background-color: #151517;
  overflow-y: scroll;
}

.imgui-window__windowed {
  position: absolute;
  display: flex;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 24px;
  width: 590px;
  height: 380px;
  flex-direction: column;
  border-radius: 8px;
  background-color: #18181c;
  outline: 1px rgb(255, 255, 255, 20%) solid;
  outline-offset: -1px;
  animation: window-pop ease-out 0.3s normal;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  transition: width var(--test), height var(--test) transform var(--test);
}

.imgui-window__windowed:hover {
  cursor: grab;
}

.imgui-window__windowed:active {
  cursor: grabbing;
}

.imgui-window__fullscreen {
  position: absolute;
  display: flex;
  z-index: 10;
  margin: auto;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: #18181c;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  transition: width var(--openTime), height var(--openTime),
    transform var(--openTime);
}

.imgui-window__topbar__windowed {
  display: flex;
  gap: 6px;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #606be2;
  height: 29px;
  align-items: center;
}

.imgui-window__topbar__windowed .triangle {
  margin-left: 8px;
  width: 0;
  height: 0;
  border-top: 12px solid rgba(255, 255, 255, 80%);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.imgui-window__topbar__windowed h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 15px;
}

.imgui-window__topbar__fullscreen {
  display: none;
}

.imgui-window__content__windowed {
  outline: 1px rgb(255, 255, 255, 20%) solid;
  outline-offset: -1px;
  background-image: url(../../assets/images/voxel-world.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  filter: grayscale(0%);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  transition: background-size var(--openTime) ease-out;
}

.imgui-window__content__windowed h2 {
  z-index: 10;
  margin: 0;
  padding: 20px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  white-space: nowrap;
  font-size: 20px;
  animation: text ease-out 0.3s;
  transition: font-size var(--openTime);
}

.imgui-window__content__windowed button {
  border: none;
  font-family: 'Roboto', sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 5px 22px;
  background-color: #606be2;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 300;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  color: #fff;
  outline: 1px rgb(255, 255, 255, 20%) solid;
  outline-offset: -1px;
  transition: background var(--openTime), outline-color var(--openTime);
}

.imgui-window__content__windowed button:active {
  background-color: #515bc6;
  outline-color: #606be2;
}

.imgui-window__content__fullscreen {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/images/voxel-world.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-size var(--openTime) ease-out;
}

.imgui-window__content__fullscreen h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #fff;
  transition: font-size var(--openTime);
}

.imgui-window__content__fullscreen button {
  display: none;
}

@keyframes window-pop {
  0% {
    left: 50%;
    top: 100%;
    transform: translate(-50%, 100%);
    width: 64px;
    height: 32px;
    opacity: 0%;
    outline: 1px #535362 solid;
  }

  100% {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: visible;
    margin-top: 0px;
  }
}

@keyframes text {
  0% {
    font-size: 5px;
  }

  100% {
    font-size: 20px;
  }
}
