.navbar__hide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
  position: fixed;
  top: -30px;
  text-align: center;
  transition: top 0.2s ease-in-out;
}

.navbar__show {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30px;
  position: fixed;
  top: 0px;
  text-align: center;
  transition: top 0.2s ease-in-out;
}

.navbar__show .content,
.navbar__hide .content {
  list-style: none;
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 0px 10px;
  line-height: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #6169f5;
  color: white;
  outline: 1px rgba(255, 255, 255, 10%) solid;
  outline-offset: -1px;
  gap: 10px;
  font-size: 20px;
}

.navbar__show .content li,
.navbar__hide .content li {
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}
